<footer>
  <div class="container-fluid" id="footer-wrapper">
    <ul class="footer-list">
    <li>&copy; 2017 Project Kalipay, Non-profit Organization</li>
    <li><a href="#">About</a></li>
    <li><a href="#">Articles</a></li>
  </ul>
  </div>  
</footer>