<div class="nav navbar-inverse navbar-fixed-top" id="admin-responsive-nav">
	<div class="navbar-header">
		<p class="navbar-brand">Welcome Admin</p>
	</div>
	<div class="text-right">
		<%= link_to "Log-out", logout_path, class:"btn btn-warning", style:"margin: 10px;" %>
	</div>	
</div>