<!-- Start Navigation Bar, insert logo at brand -->
<nav class="navbar navbar-default navbar-fixed-top" id="nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"><%= @content.site_name %></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Campaigns</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Articles</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- End -->

            <!--    Begin Capture Screen       -->
<div id="capture-wrapper">
  <div class="container-fluid" id="kalipay-capture">
    <section class="container">
    	<div class="row text-center">
        <%= image_tag "kalipay-wallpaper.png", class:"kalipay-wallpaper img-responsive" %>
    	</div>
    </section>
  </div>
</div>

<!--   Picture Collage for Campaigns Done   -->
<section class="container-fluid">
      <div class="row kalipay-div-1">
        <div class="col-md-6" >
        </div>      
        <div class="col-md-6">
          <div class="row kalipay-div-2">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
            </div>    
          </div>
          <div class="row kalipay-div-3">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
            </div>    
          </div>
        </div>  
      </div>
      <div class="row kalipay-div-4">
        <div class="col-md-3">
        </div>    
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
      </div>
</section>

<!-- About Section -->

<section class="row"> 
  
</section>

<!-- End about -->


<!-- articles listing -->

<section class="container">
  <%= render "shared/blog_post.html.erb" %>
</section>

<%= render "shared/footer" %>