<section class="container-fluid text-center" id="mobile-pics">
	<div class="row text-center">
		<%= image_tag "image_mason/kalipay-claire-jolu.jpg", class:"img-responsive" %>
	</div>
	<div class="row text-center">
		<%= image_tag "image_mason/kalipay-boys.jpg", class:"img-responsive"%>
	</div>
	<div class="row text-center">	
		<%= image_tag "image_mason/kalipay-daghan.jpg", class:"img-responsive"%>
	</div>
</section>



