<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">	
			<h1><%= @post.heading %></h1>
			<p><%= @post.content %></p>
			<%= link_to "Go back ...", root_path %>
		</div>	
	</div>	
</div>