@keyframes switch {
	from {background-color: rgba(17, 198, 110, 0); height: 90px;}
	to {background-color: rgba(17, 198, 110, 1); height: 60px;}
}

@-webkit-keyframes example {
	from {background-color: rgba(17, 198, 110, 0); height: 90px;}
	to {background-color: rgba(17, 198, 110, 1); height: 60px;}
}