// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: image_url('photography.png');
	background-attachment: fixed;	
}

nav{	
	border: 0px !important;
}

nav a {
	color: white !important;
}

#admin-panel-link{
	position: fixed;
	right: 5%;
	bottom: 5%;
	z-index: 2;
}

.nav-anim {
	-webkit-animation-name: switch; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: switch;
    animation-duration: 1s;
    background-color: rgba(17, 198, 110, 1); 
    height: 60px;
}

#capture-wrapper{
	border-bottom: 1px solid #caf4c8;
	height: 530px;
}


#kalipay-capture {
	height: 530px;
	background: image_url('photography.png');
	background-attachment: fixed;
}

@media screen and (max-width: 650px) {
		#capture-wrapper{
		border-bottom: 1px solid #caf4c8;
		height: 330px;
	}


	#kalipay-capture {
		height: 330px;
		background: image_url('photography.png');
		background-attachment: fixed;
	}
}

.kalipay-wallpaper{
	display: none;
	position: relative;
	top: 120px;
}

footer{
	margin-top: 50px;
	height: 200px;
	border-top: 2px solid #b8ceb7;
}

footer {
	background: image_url('weather.png');
}

#footer-wrapper {
	margin-top: 40px;

}

.footer-list>li{
	list-style-type: none;
	display: inline-block;
	padding-right: 20px;
}

.kalipay-div-1{
	height: 500px;
}

.kalipay-div-1>div:first-child {
	height: inherit;
	background: image_url("image_mason/kalipay-christmas.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center; 
}

.kalipay-div-2, .kalipay-div-3{
	height: 250px;

}

.kalipay-div-2>div:first-child{
	height: inherit;
	background: image_url("image_mason/kalipay-daghan.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-bottom: 1px solid white;	
}

.kalipay-div-2>div:last-child{
	height: inherit;
	background: image_url("image_mason/kalipay-crew.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-bottom: 1px solid white;	
}

.kalipay-div-3>div:first-child{
	height: inherit;
	background: image_url("image_mason/kalipay-claire-jolu.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;	
}

.kalipay-div-3>div:last-child{
	height: inherit;
	background: image_url("image_mason/kalipay-boys.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;	
}

.kalipay-div-4{
	height: 400px;
}

.kalipay-div-4>div:first-child{
	height: inherit;
	background: image_url("image_mason/kalipay-bata.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;	
}

.kalipay-div-4>div:nth-child(2){
	height: inherit;
	background: image_url("image_mason/kalipay-xmas.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-right: 1px solid white;		
}

.kalipay-div-4>div:nth-child(3){
	height: inherit;
	background: image_url("image_mason/kalipay-tago.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-left: 1px solid white;		
}

.kalipay-div-4>div:last-child{
	height: inherit;
	background: image_url("image_mason/kalipay-dodong.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;	
}

#about-wrapper {
	color: white;
	background: #3f3d3e;
}

#about-content { 
	padding-top: 50px;
	padding-bottom: 50px;
	color: black;
	background: #23af6e	;
}

#article-intro {
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 30px; 
}

#about-text {
	padding-left: 40px;
}


#admin-wrapper {
	background: image_url('photography.png');
	background-attachment: fixed;
}

.inline-element {
	display: inline-block;
}

textarea {
	border-radius: 5px;
	border: 2px solid #babbbc !important; 
	resize: none;
	width: 80%;
	height: 240px;
}

.admin-hr {
	width: 100%;
	background: #8e969e;
	height: 2px;
}

#admin-nav {
	background: black;
	position: fixed;
	color: #888889;
}

#admin-nav>h1 {
	color: #efefef; 
}

#admin-badge {
	margin-top: 70px;
}

#admin-footer {
	border-top: 1px solid #efdede;
	height: 50px;
}

.admin-footer-wrapper {
	margin-top: 20px;
}

#lastnote {
	font-style: italic;
	color: #828282;
}

.admin-left-padding {
	padding-left: 30px;
}

.admin-editor {
	margin: 30px;
}

.form-control {
	width: 30% !important;
}

.log-out-btn {
	position: absolute;
	bottom: 10px;
}

